@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  height: 100vh;
  margin: 0;
  color: white;
  font-family: 'Montserrat';
}

section {
  height: 100vh;
}

section.intro {
  background: #04323d;
  padding-top: 10em;
  height: calc(100vh-10em);
}

section.intro p {
  font-size: 2em;
  text-align: center;
  margin-top: 3em;
}

section.anim {
  background: #1989A6;
  padding: 12em;
  height: calc(100vh-24em);
  overflow: hidden;
  position: relative;
}

section.anim h1 {
  position: absolute;
  font-size: 10em;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
  left: 15%;
}

section.anim p {
  position: absolute;
  font-size: 2em;
  width: 40%;
  z-index: 1;
  top: 600px;
}

section.anim .box1 {
  position: absolute;
  top: 10;
  left: 20%;
  z-index: 0;
  width: 800px;
  height: 800px;
  border: 30px solid #20A2C3;
  overflow: hidden;
  -webkit-transform: rotateZ(65deg);
          transform: rotateZ(65deg);
}

section.anim .box2 {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 0;
  width: 200px;
  height: 200px;
  border: 30px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

section.visit {
  background: #04323d;
  padding-top: 10em;
  height: calc(100vh-10em);
}

section.visit h3 {
  font-size: 4em;
  text-align: center;
  margin-top: 3em;
}

section.visit h4 {
  font-size: 4em;
  text-align: center;
  color: #fff;
}

section.visit a {
  text-decoration: none;
}

section.visit .mdc-card {
  height: calc(100vh - 30em);
  width: calc(100vw - 60em);
  text-align: center;
  background-color: orange;
}

section.Introd {
  background: #04323d;
  padding-top: 10em;
  height: calc(100vh-10em);
}

section.Introd div.gear {
  size: 10%;
  width: 1em;
  position: absolute;
  top: calc(100vh/5);
  margin-left: -15em;
  left: 50%;
}

section.Introd img.im {
  size: 30%;
  width: 30em;
  opacity: 0.5;
}

section.Introd p {
  font-size: 2em;
  text-align: center;
  margin-top: 3em;
}

section.Introd h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 1.5em;
}

section.Order {
  background: #1989A6;
  padding: 12em;
  height: calc(100vh-24em);
  overflow: hidden;
  position: relative;
}

section.Order h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 1.5em;
}

section.Order .mdc-card {
  height: calc(100vh - 30em);
  width: calc(100vw - 60em);
  text-align: center;
  background-color: orange;
}

section.Order h4 {
  font-size: 4em;
  text-align: center;
  color: #fff;
}

section.Order a {
  text-decoration: none;
}

section.Contact {
  background: #1989A6;
  padding-top: 10em;
  height: calc(100vh-10em);
}

section.Contact h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 1.5em;
}

section.Contact .mdc-card {
  height: calc(100vh - 30em);
  width: calc(100vw - 60em);
  text-align: center;
  background-color: orange;
}

section.Contact h4 {
  font-size: 4em;
  text-align: center;
  color: #fff;
}

section.Contact a {
  text-decoration: none;
}

section.About {
  background: #04323d;
  padding: 12em;
  height: calc(100vh-24em);
  overflow: hidden;
  position: relative;
}

section.About h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 1.5em;
}

section.About .mdc-card {
  height: calc(100vh - 30em);
  width: calc(100vw - 60em);
  text-align: center;
  background-color: orange;
}

section.About h4 {
  font-size: 4em;
  text-align: center;
  color: #fff;
  padding-top: 1.5em;
}

section.About a {
  text-decoration: none;
}

section.About p.right {
  text-align: right;
}

section.About p.center {
  text-align: center;
}

section.About p.first {
  padding-top: 10em;
}

section.login {
  background: #04323d;
  padding-top: 10em;
  height: calc(100vh-10em);
}

section.login h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 1.5em;
}

section.login .mdc-card {
  height: calc(100vh - 27em);
  width: calc(100vw - 60em);
  text-align: center;
  background-color: #fff;
}

section.login h4 {
  font-size: 4em;
  text-align: center;
  color: #fff;
  padding-top: 1.5em;
}

section.login a {
  text-decoration: none;
}

footer {
  height: 20vh;
  background: #575757;
  padding-top: 2em;
  padding-left: 5em;
}

footer p {
  text-align: right;
  padding-right: 5em;
  background-position-y: 0;
}

@media only screen and (max-width: 600px) {
  section.intro {
    background: #04323d;
    padding-top: 10em;
    height: calc(100vh-10em);
  }
  section.intro p {
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
  }
  section.anim {
    background: #1989A6;
    padding: 11em;
    height: calc(100vh-24em);
    overflow: hidden;
    position: relative;
  }
  section.anim h1 {
    position: absolute;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
    left: 15%;
  }
  section.anim p {
    position: absolute;
    font-size: 2em;
    width: 40%;
    z-index: 1;
    top: 600px;
  }
  section.anim .box1 {
    position: absolute;
    top: 10;
    left: 20%;
    z-index: 0;
    width: 800px;
    height: 800px;
    border: 30px solid #20A2C3;
    overflow: hidden;
    -webkit-transform: rotateZ(65deg);
            transform: rotateZ(65deg);
  }
  section.anim .box2 {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 0;
    width: 200px;
    height: 200px;
    border: 30px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
  }
  section.visit {
    background: #04323d;
    padding-top: 10em;
    height: calc(100vh-10em);
  }
  section.visit h3 {
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
  }
  section.visit h4 {
    font-size: 2em;
    text-align: center;
    color: #fff;
  }
  section.visit a {
    text-decoration: none;
  }
  section.visit .mdc-card {
    height: 150px;
    width: 300px;
    text-align: center;
    background-color: orange;
  }
  section.Introd {
    background: #04323d;
    padding-top: 10em;
    height: calc(100vh-10em);
  }
  section.Introd div.gear {
    size: 10%;
    width: 1em;
    position: absolute;
    top: calc(100vh/5);
    margin-left: -10em;
    left: 50%;
  }
  section.Introd img.im {
    size: 20%;
    width: 20em;
    opacity: 0.5;
  }
  section.Introd p {
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
  }
  section.Introd h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 1.5em;
  }
  section.Order {
    background: #1989A6;
    padding: 12em;
    padding-left: 0.5em;
    padding-right: 0em;
    height: calc(100vh-24em);
    overflow: hidden;
    position: relative;
  }
  section.Order h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 1.5em;
  }
  section.Order .mdc-card {
    height: 100%;
    width: 300px;
    text-align: center;
    background-color: orange;
  }
  section.Order h4 {
    font-size: 2em;
    text-align: center;
    color: #fff;
  }
  section.Order a {
    text-decoration: none;
  }
  section.Contact {
    background: #1989A6;
    padding-top: 10em;
    height: calc(100vh-10em);
  }
  section.Contact h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 1.5em;
  }
  section.Contact .mdc-card {
    height: 100%;
    width: 300px;
    text-align: center;
    background-color: orange;
  }
  section.Contact h4 {
    font-size: 4em;
    text-align: center;
    color: #fff;
  }
  section.Contact a {
    text-decoration: none;
  }
  section.About {
    background: #04323d;
    padding: 12em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: calc(100vh-24em);
    overflow: hidden;
    position: relative;
  }
  section.About h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 1.5em;
  }
  section.About .mdc-card {
    height: calc(100vh - 30em);
    width: calc(100vw - 60em);
    text-align: center;
    background-color: orange;
  }
  section.About h4 {
    font-size: 4em;
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
  }
  section.About a {
    text-decoration: none;
  }
  section.About p.right {
    text-align: right;
  }
  section.About p.center {
    text-align: center;
  }
  section.About p.first {
    padding-top: 10em;
  }
  section.login {
    background: #04323d;
    padding-top: 10em;
    height: calc(100vh-10em);
  }
  section.login h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 1.5em;
  }
  section.login .mdc-card {
    height: 100%;
    width: 400px;
    padding-bottom: 2em;
    text-align: center;
    background-color: #fff;
  }
  section.login h4 {
    font-size: 4em;
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
  }
  section.login a {
    text-decoration: none;
  }
  footer {
    height: 20vh;
    background: #575757;
    padding-top: 2em;
    padding-left: 5em;
  }
  footer p {
    text-align: right;
    padding-right: 5em;
    background-position-y: 0;
  }
}
/*# sourceMappingURL=main.css.map */